html, body {
    margin: 0;
    height: 100%;
}

.product__preview-img {
    height: 100px;
    margin-bottom: 20px;
}

.product__view-img {
    height: 300px;
}

.product__buy-button {
    margin-bottom: 20px;
    cursor: pointer;
}

