<h1>{{ model.name }}</h1>

<img class="product__view-img" src="/img/{{ model.img }}.jpg" alt="{{ model.name }}">

<p>
    {{ model.price }} руб.
</p>

<button class="product__buy-button">Add to cart</button>

